<header class="header">
        <div data-aos="zoom-out"
        data-aos-delay="200"
        data-aos-duration="1200" class="header__content">
            <div class="header-dark">
                <div class="container">
                    <div class="header__object">
                        <h1 class="header__object_title">Kelajagingni Biz bilan qur</h1>
                        <p class="header__object_text">
                            2023-2024 o'quv yili uchun qabul boshlandi
                        </p>
                        <a href="{% url 'document' %}" class="header__object_link">Onlayn hujjat topshirish</a>
                    </div>
                </div>
            </div>
        </div>
    </header>