{% load static %}
<div class="document-release" id="release" data-aos="fade-up"
     data-aos-anchor-placement="top-center"
     data-aos-duration="1300">
    <div class="document-view-check">
        <img src="{% static 'university/img/message_check.png' %}" alt="">
        <h4 class="document-check-title">Arizangiz ko’rib chiqilmoqda</h4>
        <p class="document-check-text">Arizangiz tez orada ko’rib chiqiladi. Arizangiz holati bo’yicha ma’lumotlarni
            sizga xodimlarimiz tomonidan xabar berishadi.</p>
        <a type="button" href="{% url 'index' %}" class="document-check-btn">Asosiy sahifaga o’tish</a>
    </div>
</div>